<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="org.lewis.SpringMybatisExam.Mapper.CountryMapper">
		<resultMap type="Country" id="countryResult">
			<result column="country_id" property="id"/>
			<result column="country" property="country"/>
			<result column="last_update" property="lastUpdate"/>
		</resultMap>
		
	<!-- 取得插入数据后的 id -->
	<insert id="save"  parameterType="Country">
		insert into country(country_id,country,last_update) values(#{id},#{country},#{lastUpdate})
	</insert>
	
	<update id="update" parameterType="Country" >
		update country set country = #{country},last_update = #{lastUpdate} where country_id = #{id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from country  where country_id = #{id}
	</delete>
	
	<select id="findById" parameterType="int" resultMap="countryResult">
		select * from country where country_id = #{id}
	</select>
	
	
	<select id="findAll" resultMap="countryResult">
		select * from s_user
	</select>
</mapper>